<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :voice_text %><br>
    <%= f.text_area :voice_text %>
  </div>
  <div class="field">
    <%= f.label :feedback_type %><br>
    <%= f.text_field :feedback_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
