<p id="notice"><%= notice %></p>

<p>
  <strong>Voice text:</strong>
  <%= @question.voice_text %>
</p>

<p>
  <strong>Feedback type:</strong>
  <%= @question.feedback_type %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
