<div class="row">
  <%= render layout: 'landing/info_block', locals: {title: 'Learn'} do %>
    <p><%= @content.issue %></p>
    <p><%= @content.learn_text %></p>
  <% end %>

  <%= render layout: 'landing/info_block', locals: {title: 'Call'} do %>
    <p><%= @content.call_text %></p>
    <ul>
      <li><%= @content.call_instruction %></li>
      <li>Call <%= @content.app_phone_number %></li>
    </ul>
  <% end %>

  <%= render layout: 'landing/info_block', locals: {title: 'Listen'} do %>
    <p><%= @content.listen_text %></p>
    <h6><%= @content.message_from %></h6>
    <audio controls>
      <source src="<%= @content.message_url %>" type="audio/mpeg">
    </audio>
  <% end %>
</div>

<div class="row">
  <div class="small-12 columns"><hr></div>
</div>

<div class="row">
  <%= render layout: 'landing/info_block', locals: {html_class: 'recent-messages'} do %>
    <h3>Recent Messages</h3>
    <% @most_recent_messages.each do |answer| %>
      <%= render partial: 'landing/answer', locals: {answer: answer} %>
    <% end %>
  <% end %>

  <%= render partial: 'landing/map', locals: {locations: Location.all} %>
</div>
