<% if ENV["MONROE_PILOT"] %>
  <script>
    var monroePilot = true;
    console.log("Monroe pilot in effect");
  </script>
<% else %>
  <script>
    var monroePilot = false;
  </script>
<% end %>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />


<div class="container">
	<div class="center">
		<a class="expander" href="#">
			<div class="row" style="text-align: left;">
				<div class="span4">
					<div>
						<img class="action_icon" src="/assets/learnicon.png" />
						<h1 style="display:inline;">LEARN</h1>
					</div>
				</div>
				<div class="span4">
					<div>
						<img class="action_icon" src="/assets/phoneicon.png" />
						<h1 style="display:inline;">CALL</h1>
					</div>
				</div>
				<div class="span4">
					<div>
						<img class="action_icon" src="/assets/listenicon.png" />
						<h1 style="display:inline;">LISTEN</h1>
					</div>
				</div>
			</div>
		</a>
		<div class="row" style="text-align: left;">
			<div class="span4">
				<div class="info_box learn content">
					<h5 style="display:inline;">Issue:</h5>
					<h3>South Bend Vacant and Abandoned Properties</h3><br>
					<p>Explore the map to see where abandoned properties are located in South Bend. Search for an address or click on a map marker to learn more about the condition of a property. See real-time polls reflecting your neighbors’ views.</p>
				</div>
			</div>
			<div class="span4">
				<div class="info_box call content" style="min-height: 155px;">
					<p>Is this information inaccurate? Have a plan for a property? Share your thoughts and knowledge.</p>
					<br>
					<ul>
						<li><h3>Find a property's call-in code on this website</h3></li>
						<li><h3>Call <strong>(574) 584-2969</strong></h3></li>
					</ul>
				</div>
			</div>
			<div class="span4">
				<div class="info_box listen content" style="min-height: 155px;">
					<p>CityVoice is about having a conversation. Click on an audio link to hear what your neighbors have to say.</p>
	        		<h3 style="margin-top: 1.25em;">Message: Code for America Fellows</h3>
						
                    <style>
                      p { clear: both; }
                    </style>
                    <script>
                      audiojs.events.ready(function() {
                        var audios = document.getElementsByTagName('audio');

                        var a1 = audiojs.create(audios[0], {
                          css: false,
                          createPlayer: {
                            markup: false,
                            playPauseClass: 'play-pauseZ',
                            scrubberClass: 'scrubberZ',
                            progressClass: 'progressZ',
                            loaderClass: 'loadedZ',
                            timeClass: 'timeZ',
                            durationClass: 'durationZ',
                            playedClass: 'playedZ',
                            errorMessageClass: 'error-messageZ',
                            playingClass: 'playingZ',
                            loadingClass: 'loadingZ',
                            errorClass: 'errorZ'
                          }
                        });

                      });
                    </script>
                     <style>
                      .audiojsZ audio { position: absolute; left: -1px; }
                      .audiojsZ { max-width: 550px;  width: 95%; height: 36px; background: #8F8F8F; overflow: hidden; font-family: monospace; font-size: 12px;
                        -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3); -moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
                        -o-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3); box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3); }
                      .audiojsZ .play-pauseZ { width: 25px; height: 40px; padding: 4px 6px; margin: 0px; float: left; overflow: hidden; border-right: 1px solid #fff; }
                      .audiojsZ p { display: none; width: 25px; height: 40px; margin: 0px; cursor: pointer; }
                      .audiojsZ .playZ { display: block; }
                      .audiojsZ .scrubberZ { position: relative; float: left; width: 40%; background: #DEDEDE; height: 14px; margin: 10px; border-left: 0px; border-bottom: 0px; overflow: hidden; }
                      .audiojsZ .progressZ { position: absolute; top: 0px; left: 0px; height: 14px; width: 0px; background: #fff; z-index: 1; }
                      .audiojsZ .loadedZ { position: absolute; top: 0px; left: 0px; height: 14px; width: 0px; background: #fff; }
                      .audiojsZ .timeZ { float: left; height: 36px; line-height: 36px; margin: 0px 0px 0px 6px; padding: 0px 6px 0px 12px; border-left: 1px solid #fff; color: #fff; text-shadow: 1px 1px 0px rgba(20, 20, 20, 0.5); }
                      .audiojsZ .timeZ em { padding: 0px 2px 0px 0px; color: #fff; font-style: normal; }
                      .audiojsZ .timeZ strong { padding: 0px 0px 0px 2px; font-weight: normal; }
                      .audiojsZ .error-messageZ { float: left; display: none; margin: 0px 10px; height: 36px; width: 400px; overflow: hidden; line-height: 36px; white-space: nowrap; color: #fff;
                        text-overflow: ellipsis; -o-text-overflow: ellipsis; -icab-text-overflow: ellipsis; -khtml-text-overflow: ellipsis; -moz-text-overflow: ellipsis; -webkit-text-overflow: ellipsis; }
                      .audiojsZ .error-messageZ a { color: #eee; text-decoration: none; padding-bottom: 1px; border-bottom: 1px solid #999; white-space: wrap; }

                      .audiojsZ .playZ { background: url('../audiojs/player-graphics.gif') -2px -1px no-repeat; }
                      .audiojsZ .loadingZ { background: url('../audiojs/player-graphics.gif') -2px -31px no-repeat; }
                      .audiojsZ .errorZ { background: url('../audiojs/player-graphics.gif') -2px -61px no-repeat; }
                      .audiojsZ .pauseZ { background: url('../audiojs/player-graphics.gif') -2px -91px no-repeat; }

                      .playingZ .playZ, .playingZ .loadingZ, .playingZ .errorZ { display: none; }
                      .playingZ .pauseZ { display: block; }

                      .loadingZ .playZ, .loadingZ .pauseZ, .loadingZ .errorZ { display: none; }
                      .loadingZ .loadingZ { display: block; }

                      .errorZ .timeZ, .errorZ .playZ, .errorZ .pauseZ, .errorZ .scrubberZ, .errorZ .loadingZ { display: none; }
                      .errorZ .errorZ { display: block; }
                      .errorZ .play-pauseZ p { cursor: auto; }
                      .errorZ .error-messageZ { display: block; }
                    </style>
                    <div class="audiojsZ">
	                      <audio src="https://s3-us-west-1.amazonaws.com/south-bend-secrets/cityvoice_intro.mp3" preload="auto"></audio>
	                      <div class="play-pauseZ">
	                        <p class="playZ"></p>
	                        <p class="pauseZ"></p>
	                        <p class="loadingZ"></p>
	                        <p class="errorZ"></p>
	                      </div>
	                      <div class="scrubberZ">
	                        <div class="progressZ"></div>
	                        <div class="loadedZ"></div>
	                      </div>
	                      <div class="timeZ">
	                        <em class="playedZ">00:00</em>/<strong class="durationZ">00:00</strong>
	                      </div>
	                      <div class="error-messageZ"></div>
        			</div>
				</div>
			</div>
		</div>
	</div>
  <div class="row">
    <div class="span8">
      <div id="map" style="width: 100%; height: 400px; margin-top: 1em;"></div>
    </div>
    <div class="span4">
        <div class="info_box listen">
          <h1>RECENT MESSAGES</h1><hr>
          
          <% @most_recent_messages.each do |voice_feedback| %>
            <h3 style="display:inline;">
            <% if voice_feedback.property %>
              <%= voice_feedback.property.name  %>
            <% end %>
            </h3>
              &nbsp;&nbsp;&nbsp;
            <p style="display:inline;">
              <%= voice_feedback.created_at.to_date %>
            </p>

            <div class="vmessage">
              <div class="audiojsZ">
                <audio src="<%= voice_feedback.voice_file_url %>" preload="auto"></audio>
                <div class="play-pauseZ">
                  <p class="playZ"></p>
                  <p class="pauseZ"></p>
                  <p class="loadingZ"></p>
                  <p class="errorZ"></p>
                </div>
                <div class="scrubberZ">
                  <div class="progressZ"></div>
                  <div class="loadedZ"></div>
                </div>
                <div class="timeZ">
                  <em class="playedZ">00:00</em>/<strong class="durationZ">00:00</strong>
                </div>
                <div class="error-messageZ"></div>
              </div>
            </div>
          <% end %>

      </div>
    </div>
  </div>
</div>

<footer class="footer" style="height: 5em; bottom:0; left:0;">
  <nav class="pull right" style="padding-right: 1.5em;">
    <ul>
      <li><%= link_to "Contact", page_path('contact') %></li>
      <li><%= link_to 'About', page_path('about') %></li>
    </ul>
  </nav>
  <div class="footerLogo"><a href="http://codeforamerica.org/"><img src="/assets/cfa_logo_black.png" /></a></div>
  <div class="footerLogo"><a href="http://southbendin.gov/"><img src="/assets/southbendlogo.png" /></a></div>
</footer>



