<tr>
  <td><%= link_to(answer.location.name, location_path(answer.location.id)) %></td>
  <td><%= answer.created_at.to_formatted_s(:year_month_date) %></td>
  <td><%= answer.question.question_text %></td>
  <td>
    <%= answer.obscured_phone_number %>
  </td>
  <td>
    <audio controls>
      <source src="<%= answer.voice_file_url %>.mp3" type="audio/mpeg">
      <source src="<%= answer.voice_file_url %>.wav" type="audio/wav">
      <a href="<%= answer.voice_file_url %>">Click here to play</a>
    </audio>
  </td>
</tr>
