<div class="container">
  <div class="row">
    <div class="span3 offset1">
      <h1>ALL MESSAGES</h1><br>
    </div>
  </div>
  <div class="row" style="border-bottom: 1px solid #eeeeee; border-top: 1px solid #eeeeee; margin-bottom: .5em;" >
    <div class="span2 offset1">
      <h4>location</h4>
    </div>
    <div class="span2">
      <h4>date</h4>
    </div>
    <div class="span2">
      <h4>phone #</h4>
    </div>
    <div class="span5">
      <h4>voice message</h4>
    </div>
  </div>

  <% @messages.each do |message| %>
    <div class="row" style="margin-top: 2em;">
      <div class="span2 offset1">
        <h3>
          <% if message.location %>
            <a href="<%= message.location.url_to %>"><%= message.location.name %></a>
          <% end %>
        </h3>
      </div>
      <div class="span2">
        <h3><%= message.created_at.to_date %></h3>
      </div>
      <div class="span2">
        <h3>
          <% if message.call.consented_to_callback? %>
            <%= "#{message.caller.phone_number.to_s[-10..-8]}-XXX-XX#{message.caller.phone_number.to_s[-2..-1]}" %>
          <% end %>
        </h3>
      </div>
      <div class="span5">
       <style>
       p { clear: both; }
       </style>

        <div class="audiojsZ">
          <audio controls>
            <source src="<%= message.voice_file_url %>.mp3" type="audio/mpeg">
            <source src="<%= message.voice_file_url %>.wav" type="audio/wav">
            <a href="<%= message.voice_file_url %>">Click here to play voice message</a>
          </audio>
        </div>

        </div>
      </div>

    <% end %>



  </div>
  <%= will_paginate @messages unless params[:all] == "true" %>

