<p id="notice"><%= notice %></p>

<p>
  <strong>Issue:</strong>
  <%= @app_content_set.issue %>
</p>

<p>
  <strong>Learn text:</strong>
  <%= @app_content_set.learn_text %>
</p>

<p>
  <strong>Call text:</strong>
  <%= @app_content_set.call_text %>
</p>

<p>
  <strong>Call instruction:</strong>
  <%= @app_content_set.call_instruction %>
</p>

<p>
  <strong>App phone number:</strong>
  <%= @app_content_set.app_phone_number %>
</p>

<p>
  <strong>Listen text:</strong>
  <%= @app_content_set.listen_text %>
</p>

<p>
  <strong>Message from:</strong>
  <%= @app_content_set.message_from %>
</p>

<p>
  <strong>Message url:</strong>
  <%= @app_content_set.message_url %>
</p>

<%= link_to 'Edit', edit_app_content_set_path(@app_content_set) %> |
<%= link_to 'Back', app_content_sets_path %>
