					<div class="infoBox">
						<div class="upper listen_bar">
							<h1>
								Opinions 
							</h1>
							<!-- <em style="color:;">of 10 neighbors</em> -->
						</div>
						<div class="lower">
							<% if @subject.type == "Neighborhood" %>
								<%= render "neighborhood_issues" %>
							<% elsif @subject.type == "Property" %>
								<%= render "property_issues" %>
							<% end %>
						</div>
					</div>
					<div class="infoBox">
						<div class="upper listen_bar">
							<h1>
								Messages
							</h1>
						</div>
						<div class="lower">
							<% @user_voice_messages.each do |message| %>
								<div class="vmessage">
									<div class="row-fluid">
										<div class="span12" >
											<div class="voiceAnnotate">
												<div style="display: inline; margin-bottom: .75em; padding-right: 1em;">
									        	</div>
												<strong><%= @choice %></strong>&nbsp;&nbsp;
											    date: <strong><%= message.created_at.to_date %></strong> &nbsp; 
											    from: <strong><%= "XXX-XXX-" + message.phone_number.to_s[-4..-1] %></strong>
											</div>
											<div>
												<audio src="<%= message.voice_file_url %>" preload="auto" />
											</div>
										</div>
									</div>
								</div>
							<% end %>
						</div>
					</div>


					
				
