					    

					<% if @numerical_responses_exist %>
                        <div class="info_box listen">
                            <div class="upper listen_bar">
                                    <h1 style="display:inline;">OPINIONS</h1>
                                    <!-- <em style="color:;">of 10 neighbors</em> -->
                            </div>
                            <div class="lower">
                                    <%= render "property_issues" %>
                            </div>
                        </div>
					<% end %>
					<div class="info_box listen">
						<div class="upper" style="padding-bottom: 1.5em;">
							<img class="action_icon" src="/assets/listenicon.png" /><h1 style="display:inline;">MESSAGES</h1>
						</div>
						<div class="lower">
							<% @user_voice_messages.each do |message| %>
								<div class="vmessage">
									<div class="row-fluid">
										<div class="span12" >
											
											<div>
						                        <style>
						                          p { clear: both; }
						                        </style>
						                        <div class="audiojsZ">
						                          <audio controls>
						                            <source src="<%= message.voice_file_url %>.mp3" type="audio/mpeg">
						                            <source src="<%= message.voice_file_url %>.wav" type="audio/wav">
						                            <a href="<%= message.voice_file_url %>">Click here to play voice message</a>
						                          </audio>
						                        </div>
											</div>
											<div class="voiceAnnotate">
												<strong><%= @choice %></strong>
												date: <strong><%= message.created_at.to_date %></strong> &nbsp; 
												from: <strong><%= message.phone_number.to_s[-10..-8] + "-XXX-XX" + message.phone_number.to_s[-2..-1] %></strong>
											</div>
										</div>
									</div>
								</div>
							<% end %>
						</div>
					</div>






 

    


					
				
