<div class="container">
	<div class="center">
	<p id="notice"><%= notice %></p>
		<div class="row">
		</div>
		<div class="row" style="text-align: left;">
			<div class="span6 offset1 ">
				<div class="info_box learn">
					<div class="row">
						<div class="span2">
							<img class="action_icon" src="/assets/learnicon.png" />
							<div class="address" style="margin-top: .25em;">
							  	<%= @subject.name %><br>
							</div>
						</div>
						<div class="span3" id="subject_description_box">
							<%= render :inline => raw(@subject.description) %>
						</div>
					</div>
					<div id="map" style="margin-top: 1em; margin-bottom: 1em;"></div>
				</div>
				<div class="info_box admin">
					<div class="row">
						<div class="span5">
							<h2 style="display: inline;">Email Notifications</h2>
							<%= render 'subscribe_form' %>
							<p>Sign up to receive an email when there is new information on this location. Emails are sent out once a week and only if there is new information.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="span4 info" style="text-align:left;">
				<div class="info_box call">
					<div class="upper">
						<img class="action_icon" src="/assets/phoneicon.png" /><h1 style="display:inline;">CALL</h1>
					</div>
					<div class="lower">
						<div class="infoSet_below">
                                                  <br><%= @content.app_phone_number %>
		    				<br>call-in code: <%= @subject.property_code %>
						</div>
					</div>
				</div>
				<% if @numerical_responses_exist or !@user_voice_messages.empty? %>
					<%= render partial: "feedback" %>
				<% else %>
				<div class="info_box listen">
					<img class="action_icon" src="/assets/listenicon.png" /><h1 style="display:inline;">LISTEN</h1><br><br>
					<p>There is no neighborhood feedback on this property yet.</p>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
