<script>window.map = L.mapbox.map('map','codeforamerica.map-stwhr1eg');</script>

<div class="container">
	<div class="center">
	<p id="notice"><%= notice %></p>
		<div class="row" style="text-align: left;">
			<div class="span6 offset1 info_box learn">
				<div class="row">
					<div class="span3">
						<img class="action_icon" src="/assets/learnicon.png" />
							<div class="address" style="margin-top: .25em;">
							  	<%= @subject.name %><br>
							</div>
					</div>
					<div class="span3">
						<div class="row">
							<div class="span1 infoLogo">
								<!-- <img src="/assets/<%= @subject.property_info_set.outcome.gsub(/(\s|[\/])/, "") %>.png" /> -->
							</div>
							<div class="span2">
								<div class="infoSet_above">
									status
								</div>
								<div class="infoSet_below">
									<%= @subject.property_info_set.outcome %>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="span2 offset1">
								<div class="infoSet_above">
									demolition order
								</div>
								<div class="infoSet_below">
									<%= @subject.property_info_set.demo_order ? @subject.property_info_set.demo_order : "No Demolition Order" %>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="map" style="margin-top: 1em; margin-bottom: 1em;"></div>
			</div>
			<div class="span4 info" style="text-align:left;">
				<div class="info_box call">
					<div class="upper">
						<img class="action_icon" src="/assets/phoneicon.png" /><h1 style="display:inline;">CALL</h1>
					</div>
					<div class="lower">
						<div class="infoSet_below">
							<br>(574) 584-2969
		    				<br>call-in code: <%= @subject.property_code %>
						</div>
					</div>
				</div>
				<% if @feedback_responses_exist %>
					<%= render partial: "feedback" %>
				<% else %>
				<div class="info_box listen">
					<img class="action_icon" src="/assets/listenicon.png" /><h1 style="display:inline;">LISTEN</h1><br><br>
					<p>There is no neighborhood feedback on this property yet.</p>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
		
<footer class="footer">
  <nav class="pull right" style="padding-right: 1.5em;">
    <ul>
      <li><%= link_to "Contact", page_path('contact') %></li>
      <li><%= link_to "About", page_path('about') %></li>
    </ul>
  </nav>
  <div class="footerLogo"><a href="http://codeforamerica.org/"><img src="/assets/cfa_logo_black.png" /></a></div>
  <div class="footerLogo"><a href="http://southbendin.gov/"><img src="/assets/southbendlogo.png" /></a></div>
</footer>

