<script>window.map = L.mapbox.map('map','codeforamerica.map-stwhr1eg');</script>

		<div class="container-fluid">
			<p id="notice"><%= notice %></p>
			<div class="row-fluid">
				<div class="span6 offset1">
					<div class="infoBox" style="margin-bottom: 0;">
						<div class="upper info_bar">
							<div class="row">
								<div class="span5 offset1">
									<div class="infoSet_above">
										address
									</div>
									<div class="address">
									  	<%= @subject.name %><br>
									</div>
									<% if @subject.type == "Property" %>
									<% end %>
								</div>
								<div class="span5 offset1">
									<div class="row">
										<div class="span2 infoLogo">
											<img src="/assets/<%= @subject.property_info_set.outcome.gsub(/(\s|[\/])/, "") %>.png" />
										</div>
										<div class="span9">
											<div class="infoSet_above">
												status
											</div>
											<div class="infoSet_below">
												<%= @subject.property_info_set.outcome %>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="span9 offset2">
											<div class="infoSet_above">
												demolition order
											</div>
											<div class="infoSet_below">
												<%= @subject.property_info_set.demo_order ? @subject.property_info_set.demo_order : "No Demolition Order" %>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="map"></div>
					<div class="infoBox">
						<div class="lower">
							<div class="row resources">
								<div class="span4 offset1 resources_name">
									<a href="http://www.nrc4neighborhoods.org/neighborhoods/14-monroe-park/">Monroe Park Neighborhood Association</a>
								</div>
								<div class="span6 resources_info">
									Salvation Army Building, 520 S. Carroll Street<br>
									Group meets 3rd Thursday each month,<br> 7:30-8:30 p.m.
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="span4 info" style="text-align:left;">
					<div class="infoBox">
						<div class="upper feedback_bar">
							<h1> CITIZEN FEEDBACK</h1>
						</div>
						<div class="lower">
							<div class="infoSet_above">
								To leave feedback
							</div>
							<div class="infoSet_below">
								Call: (574) 584-2979<br>
								property call-in code: ----
							</div>
						</div>
					</div>
					<% if @feedback_responses_exist %>
						<%= render partial: "feedback" %>
					<% else %>
					<div class="lower">
						<div id="noFeedbackNote">
							<div class="infoSet_below" style="margin-top: .5em;">
								There is no citizen feedback on this property yet.
							</div>
						</div>
					</div>
					<% end %>
				</div>
			</div>
		</div>
		<footer class="footer">
		  <nav class="pull right" style="padding-right: 1.5em;">
		    <ul>
		      <li><%= link_to "Contact", page_path('contact') %></li>
		      <li><%= link_to "About", page_path('about') %></li>
		    </ul>
		  </nav>
		  <div class="footerLogo"><a href="http://codeforamerica.org/"><img src="/assets/cfa_logo_black.png" /></a></div>
		  <div class="footerLogo"><a href="http://southbendin.gov/"><img src="/assets/southbendlogo.png" /></a></div>
		</footer>
		<!--
			<%= link_to 'Edit', edit_subject_path(@subject) %> |
			<%= link_to 'Back', subjects_path %>
		-->
