
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span6">
					<div id="map"></div>
				</div>

				<div class="span6 info" style="text-align:left;">
					<p id="notice"><%= notice %></p>
					<h4>
						Responses
					</h4>
					<h2>
					  <%= @subject.name %><br>
					  Vacant & Abandoned Properties
					</h2>
					<% @questions.each do |my_question| %>
						<div class="question">
							<div class="row-fluid">
								<div class="span9">
									<div class="text">
										<%= my_question.question_text %>
									</div>
									<div class="progress progress-info">
                    <div class="bar" style="width: <%= my_question.average_priority/5*100 rescue nil %>%"><span style="color:black"><%= number_with_precision(my_question.average_priority, :precision => 2) %></span></div>
									</div>
									<div class="progressAnnotate">
										<span class="alignleft">
											less 
										</span>
										<span class="alignright">
											more 
										</span>
										<div style="clear: both;"></div>
									</div>
								</div>
							</div>
						</div>
					<% end %>
					<% @user_voice_messages.each do |message| %>
						<div class="vmessage">
							<div class="row-fluid">
								<div class="span12" >
									<!-- will style avatar later
									<div class="avatar">
									</div> -->
									<div>
										<audio src="<%= message.voice_url %>" preload="auto" />			
									</div>
									<div class="voiceAnnotate">
										date: <strong><%= message.date %></strong> &nbsp; from: <strong><%= message.phone_number %></strong>
									</div>
								</div>
							</div>
						</div>
					<% end %>
					
					<% if @subject.type == "Property" %>
					  <p>
					    <strong>Neighborhood:</strong>
					    <%= @subject.neighborhood.name %>
					  </p>
					<% end %>
					
					<!-- not needed at the moment
					<p>
					  <strong>Type:</strong>
					  <%= @subject.type %>
					</p>
					-->
				</div>
			</div>
		</div>
		<!--
			<%= link_to 'Edit', edit_subject_path(@subject) %> |
			<%= link_to 'Back', subjects_path %>
		-->
