<header class="navbar navbar-fixed-top navbar-inverse" style="background:$cvBlue;">
  <div class="navbar-inner">
    <div class="container">
      CITYVOICE
      <nav>
        <ul class="nav pull-right">
          Login
        </ul>
      </nav>
    </div>
  </div>
</header>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subject.name %>
</p>

<% if @subject.type == "Property" %>
  <p>
    <strong>Neighborhood:</strong>
    <%= @subject.neighborhood.name %>
  </p>
<% end %>

<p>
  <strong>Type:</strong>
  <%= @subject.type %>
</p>

<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
