<%= form_for(@feedback_input) do |f| %>
  <% if @feedback_input.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feedback_input.errors.count, "error") %> prohibited this feedback_input from being saved:</h2>

      <ul>
      <% @feedback_input.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :question_id %><br>
    <%= f.number_field :question_id %>
  </div>
  <div class="field">
    <%= f.label :subject_id %><br>
    <%= f.number_field :subject_id %>
  </div>
  <div class="field">
    <%= f.label :neighborhood_id %><br>
    <%= f.number_field :neighborhood_id %>
  </div>
  <div class="field">
    <%= f.label :property_id %><br>
    <%= f.number_field :property_id %>
  </div>
  <div class="field">
    <%= f.label :voice_file_url %><br>
    <%= f.text_field :voice_file_url %>
  </div>
  <div class="field">
    <%= f.label :numberical_response %><br>
    <%= f.number_field :numberical_response %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
