
<div class="container">
  <div class="row">
    <div class="span3 offset1">
      <h1>ALL MESSAGES</h1><br>
    </div>
  </div>
  <div class="row" style="border-bottom: 1px solid #eeeeee; border-top: 1px solid #eeeeee; margin-bottom: .5em;" >
    <div class="span2 offset1">
      <h4>location</h4>
    </div>
    <div class="span1">
      <h4>date</h4>
    </div>
    <div class="span2">
      <h4>phone #</h4>
    </div>
    <div class="span4">
      <h4>voice message</h4>
    </div>
  </div>

<% @most_recent_messages.each do |feedback_input| %>
  <% location = feedback_input.property.name if feedback_input.property %>
  <% created_at = feedback_input.created_at.to_date %>
  <% phone = "XXX-XXX-" + feedback_input.phone_number.to_s[-4..-1] %>

    <div class="row" style="margin-top: 1.25em;">
    <div class="span2 offset1">
      <h3><a href="#"><%= location %> <%= feedback_input.id %></a></h3>
    </div>
    <div class="span1">
      <h3><%= created_at %></h3>
    </div>
    <div class="span2">
      <h3><%= phone %> </h3>
    </div>
    <div class="span4">
       <style>
              p { clear: both; }
            </style>
            <script>
              audiojs.events.ready(function() {
                var audios = document.getElementsByTagName('audio');

                var a1 = audiojs.create(audios[0], {
                  css: false,
                  createPlayer: {
                    markup: false,
                    playPauseClass: 'play-pauseZ',
                    scrubberClass: 'scrubberZ',
                    progressClass: 'progressZ',
                    loaderClass: 'loadedZ',
                    timeClass: 'timeZ',
                    durationClass: 'durationZ',
                    playedClass: 'playedZ',
                    errorMessageClass: 'error-messageZ',
                    playingClass: 'playingZ',
                    loadingClass: 'loadingZ',
                    errorClass: 'errorZ'
                  }
                });

              });
            </script>
            <style>
              .audiojsZ audio { position: absolute; left: -1px; }
              .audiojsZ { max-width: 550px;  width: 95%; height: 36px; background: #8F8F8F; overflow: hidden; font-family: monospace; font-size: 12px;
                -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3); -moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
                -o-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3); box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3); }
              .audiojsZ .play-pauseZ { width: 25px; height: 40px; padding: 4px 6px; margin: 0px; float: left; overflow: hidden; border-right: 1px solid #fff; }
              .audiojsZ p { display: none; width: 25px; height: 40px; margin: 0px; cursor: pointer; }
              .audiojsZ .playZ { display: block; }
              .audiojsZ .scrubberZ { position: relative; float: left; width: 40%; background: #DEDEDE; height: 14px; margin: 10px; border-left: 0px; border-bottom: 0px; overflow: hidden; }
              .audiojsZ .progressZ { position: absolute; top: 0px; left: 0px; height: 14px; width: 0px; background: #fff; z-index: 1; }
              .audiojsZ .loadedZ { position: absolute; top: 0px; left: 0px; height: 14px; width: 0px; background: #fff; }
              .audiojsZ .timeZ { float: left; height: 36px; line-height: 36px; margin: 0px 0px 0px 6px; padding: 0px 6px 0px 12px; border-left: 1px solid #fff; color: #fff; text-shadow: 1px 1px 0px rgba(20, 20, 20, 0.5); }
              .audiojsZ .timeZ em { padding: 0px 2px 0px 0px; color: #fff; font-style: normal; }
              .audiojsZ .timeZ strong { padding: 0px 0px 0px 2px; font-weight: normal; }
              .audiojsZ .error-messageZ { float: left; display: none; margin: 0px 10px; height: 36px; width: 400px; overflow: hidden; line-height: 36px; white-space: nowrap; color: #fff;
                text-overflow: ellipsis; -o-text-overflow: ellipsis; -icab-text-overflow: ellipsis; -khtml-text-overflow: ellipsis; -moz-text-overflow: ellipsis; -webkit-text-overflow: ellipsis; }
              .audiojsZ .error-messageZ a { color: #eee; text-decoration: none; padding-bottom: 1px; border-bottom: 1px solid #999; white-space: wrap; }

              .audiojsZ .playZ { background: url('../audiojs/player-graphics.gif') -2px -1px no-repeat; }
              .audiojsZ .loadingZ { background: url('../audiojs/player-graphics.gif') -2px -31px no-repeat; }
              .audiojsZ .errorZ { background: url('../audiojs/player-graphics.gif') -2px -61px no-repeat; }
              .audiojsZ .pauseZ { background: url('../audiojs/player-graphics.gif') -2px -91px no-repeat; }

              .playingZ .playZ, .playingZ .loadingZ, .playingZ .errorZ { display: none; }
              .playingZ .pauseZ { display: block; }

              .loadingZ .playZ, .loadingZ .pauseZ, .loadingZ .errorZ { display: none; }
              .loadingZ .loadingZ { display: block; }

              .errorZ .timeZ, .errorZ .playZ, .errorZ .pauseZ, .errorZ .scrubberZ, .errorZ .loadingZ { display: none; }
              .errorZ .errorZ { display: block; }
              .errorZ .play-pauseZ p { cursor: auto; }
              .errorZ .error-messageZ { display: block; }
            </style>
            <div class="audiojsZ">
                  <audio src="https://s3-us-west-1.amazonaws.com/south-bend-secrets/cityvoice_intro.mp3" preload="auto"></audio>
                  <div class="play-pauseZ">
                    <p class="playZ"></p>
                    <p class="pauseZ"></p>
                    <p class="loadingZ"></p>
                    <p class="errorZ"></p>
                  </div>
                  <div class="scrubberZ">
                    <div class="progressZ"></div>
                    <div class="loadedZ"></div>
                  </div>
                  <div class="timeZ">
                    <em class="playedZ">00:00</em>/<strong class="durationZ">00:00</strong>
                  </div>
                  <div class="error-messageZ"></div>
      </div>
    </div>
  </div>

<% end %>

</div>
<% page_count = @messages_count / @messages_per_page + 1%>
<% page = params['page'].to_i %>

<% prev = page == 1 ? 1 : page - 1 %>
<% nxt = page == page_count ? page_count : page + 1 %>

<div class="pagination" style="text-align:center;">
  <ul>
    <li><a href="/messages?page=<%= prev %>">Prev</a></li>
    <% (1..page_count).each do |i| %>
      <li class="<%= 'active' if i.to_s == params['page'] %>"><a href="/messages?page=<%= i %>"><%= i %></a></li>
    <% end %>
    <li><a href="/messages?page=<%= nxt %>">Next</a></li>
  </ul>
</div>

