<footer>
  <nav>
    <ul>
      <li><%= link_to 'Contact', page_path('contact') %></li>
      <li><%= link_to 'About', page_path('about') %></li>
    </ul>
  </nav>
  <ul class="logos">
  </ul>
  <div class="footerLogo">
    <%= link_to image_tag('CityVoice_footer.png'), 'http://cityvoiceapp.com' %>
  </div>
  <div class="footerLogo">
    <%= link_to image_tag('cfa_logo_black.png'), 'http://codeforamerica.org' %>
  </div>
  <div class="footerLogo">
    <%= link_to image_tag('southbendlogo.png'), 'http://southbendin.gov' %>
    <%= link_to 'City of South Bend', 'http://southbendin.gov' %>
  </div>
</footer>
