<!DOCTYPE html>
<html>
	<head>
	  <title>CITYVOICE</title>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	 <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	  <script src="/audiojs/audio.min.js"></script>
		    <script>
			  audiojs.events.ready(function() {
			    var as = audiojs.createAll();
			  });
			</script>
		<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
	  	<link href='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css' rel='stylesheet' />
	</head>
	<body class="<%= controller_name %> <%= action_name %>">
		<header class="navbar navbar-fixed-top navbar-inverse">
			<div class="navbar-inner" style="background:#83d0d2; border: none;">
			    <div class="container">
			      	<%= link_to "CITYVOICE", "/", id: "logo" %> 
			      	<nav>
			        	<ul class="nav" style="margin-top: .35em; margin-left: 2em;">
				          	<div class="input-append">
                      			<input class="span4" id="appendedInputButton" type="text" data-provide="typeahead">
							 <button class="btn" type="button"><i class="icon-search"></i></button>
							</div>
			        	</ul>
			      	</nav>
			    </div>
			</div>
		</header>

		<%= yield %>

	</body>
</html>


<script>$('#appendedInputButton').typeahead({name: "Address", prefetch: 'assets/property_addresses.json' });</script>
