<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title><%= content_for?(:title) ? yield(:title) : @content.short_title.upcase %></title>

    <%= stylesheet_link_tag 'application' %>
    <link href="http://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" type="text/css">
    <link href="http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css" rel="stylesheet" type="text/css">

    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= csrf_meta_tags %>
    <%= analytics_init if Rails.env.production? && ENV['GOOGLE_ANALYTICS_ID'].present? %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <%= render partial: 'header', locals: {content: @content} %>

    <%= yield %>

    <%= render partial: 'feedback', locals: {content: @content} if @content.feedback_form_url.present? %>
    <%= render partial: 'footer' %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
